<?php
$CONFIG = array (
  'updatechecker' => false,
  'passwordsalt' => 'AoTJ3NnNTcblAQFYQ77q++8zuCcY/O',
  'secret' => '8D4hpt/5AoWA51+7D2faFCFYmAS2Z6jyXe/KrGE7uGraCPBv',
  'trusted_domains' =>
  array (
    0 => 'localhost',
  ),
  'datadirectory' => '{{owncloud_data_path}}',
  'overwrite.cli.url' => 'http://localhost',
  'dbtype' => '{{owncloud_db_type}}',
  'dbname' => '{{owncloud_db_name}}',
  'dbhost' => '{{owncloud_db_host}}',
  'dbtableprefix' => 'oc_',
  'dbuser' => '{{owncloud_db_user}}',
  'dbpassword' => '{{owncloud_db_pass}}',
  'logtimezone' => 'UTC',
  'memcache.local' => '\\OC\\Memcache\\APCu',
  'instanceid' => 'ocko4t4uazwc',
  'ldapIgnoreNamingRules' => false,
  'version' => '{{owncloud_version.stdout}}',
  'installed' => true,
);
